
@media screen and (max-width: 1800px) {
    .abt-f1 h2 {
        font-size: 400px;
    }
    .video-element {
        max-height: 1000px;
    }

}

@media screen and (max-width: 1700px) {
    .banner-rotate-text2 {
        bottom: 28%;
        right: 175px;
    }
    .banner-rotate-text3 {
        top: 13%;
    }
    .banner-rotate-text1 {
        bottom: 15%;
        left: 100px;
    }

    .hexagon1,
    .hexagon2,
    .hexagon3,
    .hexagon4,
    .hexagon5 {
        width: 22px;
        height: 25px;
    }

    .loc-uae-cont {
        width: 150px;
    }

    /* service details */
    .left-srvdtls-shape1,
    .left-srvdtls-shape2 {
        top: 30%;
    }
}

@media screen and (max-width: 1600px) {
    .banner_circle_content svg {
        margin-top: 5%;
    }
    .icon-4 {
        top: 425px;
        right: 100px;
    }
    .icon {
        height: 100px;
    }
}

@media screen and (max-width: 1500px) {
    /* menu */
    .menu-link-outr-first {
        min-width: 23%;
    }
    .ham-menu-links {
        padding-right: 5px;
    }

    #nav-main .menu-link-outr-first a {
        font-size: 40px;
        line-height: 75px;
    }

    .ham-menu-links {
        padding-right: 15px;
    }

    .ham-menu-container .dropdown .ham-menu-links .menu_link {
        font-size: 25px !important;
        line-height: 30px !important;
    }

    .ham-menu-links .cta-button .btn {
        font-size: 25px !important;
        line-height: 30px !important;
    }

    .ham-menu-links .cta-button .text {
        font-size: 22px;
    }

    .ham-menu-links .cta-button .btn {
        font-size: 18px;
        padding: 12px 22px !important;
    }

    /* banner */
    .banner_center_img {
        top: 50%;
    }
    .banner_video {
        height: 80vh;
    }
    .banner_text_in_cont span {
        font-size: 60px;
        line-height: 60px;
        top: -140px;
    }
    .banner_text p {
        font-size: 20px;
        padding: 0 50px;
    }

    .veuz-about-banner-cont h2 {
        font-size: 6vw;
    }
    .about-banner-video {
        top: 58%;
        width: 45vw;
        height: 40vw;
    }
    .icon-6 {
        right: 60px;
    }
    .hc-flip-video{
        width: 95%;
    }

    .circuit-bottom-left {
        top: 58%;
        left: 32%;
    }
    .circuit-top-left {
        top: -2%;
        left: 4%;
    }
    .circuit-top-right {
        right: 5%;
    }
    .circuit-bottom-right {
        right: 2%;
    }

    .veuz-common-banner-cont h2 {
        line-height: 90px;
    }

    /* service details */
    .left-service-dtls-heading h2,
    .service-dtls-first-heading h2,
    .service-dtls-second-heading h2,
    .service-dtls-third-heading h2,
    .service-dtls-tech-heading h2 {
        line-height: 60px;
    }
    .service-dtls-third-heading h2 br{
        display: none;
    }
}

@media screen and (max-width: 1400px) {
    .banner_circle_content svg {
        margin-top: 10%;
    }
    .banner_text {
        width: 60%;
    }
    .banner-rotate-text3 {
        top: 20%;
    }
    .banner-rotate-text1 {
        bottom: 13%;
        left: 50px;
    }
    .banner-rotate-text2 {
        bottom: 23%;
    }

    /* .ham-menu-container .dropdown .ham-menu-links {
        padding-left: 20px;
    } */

    #nav-main a {
        font-size: 40px;
        line-height: 70px;
    }

    /* .ham-menu-container .dropdown .ham-menu-links .menu_link {
        font-size: 30px !important;
        line-height: 30px !important;
    } */

    /* .ham-menu-links .cta-button .text {
        font-size: 25px;
    } */

    /* #nav-main .menu-link-outr-first a {
        font-size: 40px;
        line-height: 65px;
    } */

    .menu-contact-dtls .right-footer-content .cta-button {
        width: 100%;
    }

    .menu-contact-dtls .social-links-footer {
        margin-top: 35px;
    }

    .menu-contact-dtls .social-links-footer ul li a {
        line-height: initial !important;
    }

    .left-hm-software h2 {
        font-size: 40px;
        line-height: 45px;
    }
    .icon-1 {
        top: 0px;
    }
    .inner-icon06 .icon-circle06 {
        top: -70px;
    }
    .icon-line06 {
        margin-top: -64px;
    }
    .icon-6 {
        right: 10px;
    }
    .icon-4 {
        right: 20px;
    }
    .icon-5 {
        top: -9px;
        right: 135px;
    }
    .icon-7 {
        left: 260px;
    }

    .wheel_content h6{
        font-size: 25px;
    }

    .tech-left-cont {
        padding: 70px 35px;
    }
    .tech-left-cont h2 {
        font-size: 50px;
        line-height: 60px;
    }
    .tech-right-cont {
        padding: 50px 0;
    }
    .tech-owl1 .owl-carousel .item, .tech-owl2 .owl-carousel .item {
        width: 200px;
        height: 200px;
        padding: 35px;
    }

    .proj-video-cont-dtls h2 {
        font-size: 75px;
        line-height: 75px;
    }

    /* about */
    .veuz-about-banner-cont h2 {
        font-size: 5rem;
    }
    .circuit-bottom-left {
        /* top: 31%; */
        left: 32%;
    }

    .veuz-about-tech-content h2 {
        font-size: 60px;
        line-height: 65px;
        margin-bottom: 20px;
    }
    .veuz-about-tech-content p {
        font-size: 16px;
        line-height: 30px;
    }

    /* services */
    .service_footer_item_cont h2 br {
        display: none;
    }
    .wheel_content p {
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Limits the text to 3 lines */
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    /* service details */
    .left-srvdtls-shape1{
        left: -60%;
    }
    .left-srvdtls-shape2 {
        right: -60%;
    }
    .service_dtls_footer_item_cont h2 br{
        display: none;
    }

    /* blog */
    .blog-listing-items-out {
        padding: 0 20px 20px 20px;
    }
    .blog-category {
        padding-right: 0;
    }
    .right-blog-in {
        padding-left: 0;
    }
    .ft-blog-listing-items-cont h3 {
        font-size: 25px;
        line-height: 30px;
    }

    /* careers */
    .modal-main-input {
        width: 100%;
        height: 100%;
    }

}

@media screen and (max-width: 1300px) {
    .banner_video {
        height: 70vh;
    }
    /* nav */
    #nav-main .menu-link-outr-first a {
        font-size: 35px;
    }

    .banner-rotate-text-out h4{
        font-size: 20px;
    }
    .banner-rotate-text2 {
        right: 140px;
    }
    #nav-main a {
        font-size: 36px;
        line-height: 75px;
    }
    /* .ham-menu-container .dropdown .ham-menu-links .menu_link {
        font-size: 30px !important;
        line-height: 35px !important;
        margin-top: 15px;
    } */

    .clients h2 {
        font-size: 30px;
    }
    /* .clients .owl-carousel .item{
        width: 55%;
    } */
    .abt-f1 h2 {
        font-size: 22vw;
    }
    .video-element {
        margin-top: 0px;
    }
    .about-zoom-sec .abt-f1-cont-out {
        margin-top: -100px;
    }
    
    .left-hm-software h2 {
        font-size: 40px;
        line-height: 45px;
    }
    .icon-2 {
        top: 250px;
        left: 300px;
    }
    .icon-5 {
        right: 100px;
    }
    .icon-7 {
        left: 230px;
    }

    .copy-right-sec .policy h5 a {
        font-size: 12px;
    }
    .ft-mail-out {
        display: block;
    }
    .hexagon1, .hexagon2, .hexagon3, .hexagon4, .hexagon5 {
        width: 17px;
        height: 20px;
    }
    .loc-banglore {
        margin-left: 0px;
        margin-top: -2px;
    }
    .loc-kerala {
        margin-left: -7px;
        margin-top: -4px;
    }
    .loc-uae {
        margin-left: -8px;
        margin-top: -3px;
    }
    .loc-bahrain {
        margin-left: -1px;
    }
    .loc-saudi {
        margin-left: -8px;
        margin-top: -5px;
    }
    .loc-bahrain-cont,
    .loc-banglore-cont,
    .loc-uae-cont,
    .loc-saudi-cont,
    .loc-kerala-cont {
        width: 120px;
        height: 80px;
    }
    .loc-bahrain-cont h6,
    .loc-banglore-cont h6,
    .loc-uae-cont h6,
    .loc-saudi-cont h6,
    .loc-kerala-cont h6 {
        padding: 15px 10px;
    }
    .loc-bahrain:hover + .loc-bahrain-cont,
    .loc-banglore:hover + .loc-banglore-cont,
    .loc-uae:hover + .loc-uae-cont,
    .loc-saudi:hover + .loc-saudi-cont,
    .loc-kerala:hover + .loc-kerala-cont {
        width: 250px;
        padding: 15px;
    }

    /* about */
    .veuz-about-banner-cont p br {
        display: none;
    }
    .about_counter_item h2 {
        font-size: 80px;
    }
    .circuit-top-left{
        width: 200px;
    }
    .circuit-bottom-left {
        top: 57%;
        left: 30%;
    }
    .circuit-top-right {
        height: 120px;
    }
    .circuit-bottom-right {
        height: 120px;
    }
    .veuz_about_counter .text-info2 {
        left: 32%;
    }
    .vision-video {
        height: 100%;
    }

    /* contact page start */
    .common_banner_veuz {
        height: 35vh;
    }
    .left-contact-get-in::before {
        width: 150px;
    }

    .contact-address-left-items h3 {
        font-size: 30px;
    }
    .cont-number h6 {
        font-size: 16px;
    }
    .cont-address h5 {
        font-size: 20px;
        line-height: 25px;
    }
    .cont-address p {
        font-size: 18px;
    }

    /* career */
    .timeline {
        max-width: 100%;
    }
    .left-timeline {
        padding: 10px 30px 10px 0;
    }
    .right-timeline {
        padding: 10px 0 10px 30px;
    }
    .modal-main-input {
        width: 100%;
        height: 100%;
    }

    /* service */
    .service-gradient-bg {
        top: -125%;
    }
    .veuz-common-banner-cont p {
        width: 70%;
    }
    .service_icon_item {
        padding: 30px 50px;
    }
    .service_icon_item h3 {
        font-size: 30px;
    }
    .service_footer_item_cont_out {
        flex: 0 0 auto !important;
        width: 100% !important;
    }

    /* service details */
    .right-service-dtls-third-cont .accordion-item h2 button {
        font-size: 30px;
    }
    .right-service-dtls-third-cont .accordion .accordion-item {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .right-service-dtls-third-cont .accordion-item h2 button {
        margin-bottom: 0;
    }
    .right-service-dtls-third-cont {
        height: 500px;
    }
    .service-dtls-four-top h2 {
        font-size: 50px;
        line-height: 60px;
    }
    .blog_details_banner {
        height: 25vh;
    }
    
}

@media screen and (max-width: 1200px) {
    .banner_video {
        height: 65vh;
    }
    .banner-rotate-text3 {
        top: 20%;
    }
    .banner-rotate-text2 {
        right: 120px;
        bottom: 22%;
    }
    .banner_center_img {
        top: 45%;
    }
    .banner_text {
        position: absolute;
        top: 52%;
    }
    .banner_text_in_cont span {
        font-size: 50px;
        line-height: 50px;
        top: -100px;
    }
    .banner_text p {
        font-size: 18px;
        line-height: 23px;
        margin-top: 10px;
    }
    /* .banner_circle_content svg {
        margin-top: 10%;
    } */
    .icon-6 {
        right: -25px;
    }
    .icon-line04 {
        left: 150px;
    }
    .inner-icon04 .icon-circle04 {
        left: 515px;
    }
    .icon-4 {
        right: 0;
    }
    .inner-icon07 .icon-circle07 {
        left: 540px;
    }
    .icon-line07 {
        left: 175px;
    }
    .icon-7 {
        left: 190px;
    }
    .circuit-bottom-left {
        top: 57%;
    }

    /* common */
    .get-heading {
        font-size: 35px;
    }
    /* common */

    .counter_item h1 {
        font-size: 50px;
    }
    .counter_item span {
        font-size: 50px;
    }
    .counter-cont p {
        font-size: 18px;
    }
    .counter_wrapper {
        padding: 15px 0px;
    }
    .counter_item {
        padding: 15px 0;
    }

    /* about */
    .common_space {
        padding-top: 60px !important;
    }
    .veuz-common-banner-cont h2 {
        line-height: 75px;
    }
    .about-veuz-content {
        max-width: 100%;
    }
    .about-veuz-content h2 {
        font-size: 60px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .veuz-about-banner-cont h2 {
        font-size: 5rem;
    }
    .about-veuz-content p {
        font-size: 50px;
        line-height: 60px;
    }
    .veuz-about-tech-content h2 {
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 15px;
    }
    .about_counter_item h2 {
        font-size: 70px;
    }
    .about_counter_item span{
        font-size: 65px;
    }
    .about_counter_item p {
        font-size: 15px;
        font-weight: 300;
        line-height: 23px;
    }
    .veuz_about_counter .text-info3 {
        right: 30%;
    }
    .veuz-about-heading {
        width: 90%;
    }
    .veuz-about-heading h3 {
        font-size: 50px;
    }
    .visio-content {
        padding: 0 35px;
    }
    .visio-content h2 {
        font-size: 35px;
        line-height: 40px;
    }
    .visio-content p {
        font-size: 16px;
        line-height: 25px;
    }
    .last-about-veuz p {
        font-size: 50px;
        line-height: 60px;
    }
    .veuz_about_counter {
        padding: 80px 0 60px;
    }
    .veuz_about_counter {
        height: 125vh;
    }
    .veuz_about_counter .text-info1 {
        top: 16%;
    }
    .last-about-veuz p {
        padding: 80px 20px;
    }
    /* .about-veuz {
        display: block;
    } */
    .about-banner-video {
        top: 50%;
        right: 7%;
        transform: translateY(-50%);
        width: 50vw;
        height: 50vw;
        max-width: 500px;
        max-height: 500px;
    }

    /* career */
    .job-card {
        padding: 40px 25px;
    }
    .job-info {
        margin-left: 20px;
    }
    .job-card-icon img {
        width: 75px;
        height: 70px;
        border-radius: 20px;
        background-color: #000;
        padding: 15px;
    }
    .job-info p {
        font-size: 15px;
    }
    .job-info h3 {
        font-size: 25px;
        font-weight: 600;
        line-height: 30px;
    }

    /* services */
    .service_listing_img {
        height: 300px;
        overflow: hidden;
    }
    .right_service_listing_content h3 {
        font-size: 25px;
        line-height: 30px;
    }
    .left_service_listing_content .cta-button .move-btn {
        width: 80px;
        height: 80px;
    }

    /* service details */
    .left-srvdtls-shape1{
        left: -63%;
    }
    .left-srvdtls-shape2 {
        right: -63%;
    }
    .left-service-dtls-heading h2,
    .service-dtls-first-heading h2,
    .service-dtls-second-heading h2,
    .service-dtls-third-heading h2,
    .service-dtls-tech-heading h2 {
        line-height: 50px;
    }
    .right-service-dtls-second-dtls h4 {
        line-height: 30px;
    }
    .service-dtls-tech-item-cont {
        height: 130px;
        padding: 10px;
    }

    /* blog */
    .left-blog {
        width: 30% !important;
    }
    .centre-blog {
        width: 70% !important;
    }
    .right-blog {
        width: 100% !important;
        margin-top: 50px !important;
    }
    .right-blog-in {
        display: block;
    }
    .related-blogs {
        width: 49%;
        display: inline-block;
        padding: 10px;
    }
    .main-blog-in {
        padding-bottom: 30px;
    }

    .menu-link-outr-first {
        min-width: 20%;
    }
    .ham-menu-links {
        padding-right: 15px;
    }
    #nav-main .menu-link-outr-first a {
        font-size: 25px;
        line-height: 55px;
    }
    .ham-menu-container .arrow {
        font-size: 30px;
    }

    .ham-menu-container .dropdown .ham-menu-links {
        padding-left: 20px;
    }
    .ham-menu-container .dropdown .ham-menu-links .menu_link {
        font-size: 22px !important;
        line-height: 25px !important;
        margin-top: 12px;
    }
    .ham-menu-links .cta-button .btn {
        font-size: 20px !important;
        line-height: 25px !important;
    }
    .ham-menu-links .cta-button .text {
        font-size: 20px;
    }
 
}

@media screen and (max-width: 1100px) {
    /* nav top */
    .nav-dropdown-items-out {
        height: 70%;
        overflow-y: scroll;
        padding: 0 15px;
    }
    .nav-dropdown-items-out .nav-dropdown-items {
        width: 50%;
    }
    .nav-dropdown-items-out .nav-dropdown-items {
        padding: 0;
    }
    .menu-link-outr-first {
        min-width: 26%;
    }
    .ham-menu-links {
        padding-right: 12px;
    }

    .about-veuz-content p {
        font-size: 40px;
        line-height: 55px;
    }
    .circuit-bottom-left {
        top: 59%;
        left: 20%;
    }
    .veuz-about-banner-cont p {
        width: 85%;
    }
    .veuz-about-tech-content h2 {
        font-size: 50px;
        line-height: 55px;
        margin-bottom: 10px;
    }
    .veuz_about_counter .text-info3 {
        right: 27%;
    }
    

    /* services */
    .service_icon_item {
        padding: 25px 25px;
    }
    

}

@media screen and (max-width: 1000px) {
    /* home banner */
    .banner_text {
        width: 80%;
    }

    .circuit-top-left {
        width: 100px;
    }
    .circuit-bottom-left {
        width: 60px;
        left: 24%;
    }
    .circuit-top-right {
        height: 100px;
    }
    .circuit-bottom-right {
        height: 100px;
    }
    .veuz_about_counter .text-info2 {
        left: 26%;
    }
    .veuz_about_counter .text-info3 {
        right: 23%;
    }

    /* services */
    .wheel__card .icons-out {
        width: 65px;
    }
    .wheel__card{
        padding: 50px 20px;
    }
    .wheel__card {
        max-width: 350px;
    }
    

}

@media screen and (max-width: 992px) {
    /* home banner */
    .banner_video {
        height: 60vh;
    }
    .banner_circle .banner_content{
        display: none;
    }
    .banner-text-mobile{
        display: block;
    }
    .banner_text {
        top: 38%;
        width: 60%;
    }
    .banner_circle_content {
        top: 33%;
    }
    .banner_text_in_cont span {
        font-weight: 600;
    }
    .banner-rotate-text-out h4 {
        font-size: 18px;
    }
    .banner_text p {
        font-size: 20px;
        padding: 0 0px;
    }
    .banner_center_img {
        top: 70%;
        /* width: 37%; */
    }

    /* common */
    .logo-svg svg{
        width: 100px;
    }
    .menu-bars .ham {
        width: 60px;
    }
    .btn-header a {
        font-size: 13px;
    }
    .style_button3__wvXhd {
        padding: 10px 15px !important;
    }
    .left-footer-content img {
        width: 100px;
    }

    /* .ham-menu-container .dropdown .ham-menu-links {
        padding-left: 0px;
    } */
    /* .ham-menu-container .dropdown .ham-menu-links {
        padding-left: 20px;
    } */
    /* .ham-menu-container .dropdown .ham-menu-links .menu_link {
        font-size: 20px !important;
        line-height: 25px !important;
        margin-top: 10px;
    } */
    .veuz-common-banner-cont h2 {
        font-size: 50px;
        line-height: 55px;
    }
    .veuz-common-banner-cont p {
        font-size: 18px;
        line-height: 25px;
        width: 100%;
        margin: 8px auto 0 auto;
    }

    .hc-icon-circle01 {display: none;}
    .hc-icon-line01{display: none;}
    .left-hc-section {
        text-align: center;
    }
    .hc-flip-video {
        width: 65%;
    }
    .hm-software {
        padding-bottom: 0;
    }

    /* about */
    .clients h2{
        text-align: center;
        margin-bottom: 50px;
    }
    .clients .owl-carousel .item {
        max-width: 80%;
        margin: 0 auto;
    }
    .right-abt-f1 .content p {
        font-size: 25px;
        line-height: 35px;
    }

    /* navbar */
    #nav-main a {
        font-size: 25px;
        line-height: 50px;
    }
    .ham-menu-links {
        padding-right: 8px;
    }
    .ham-menu-container .arrow {
        font-size: 30px;
    }
    /* .ham-menu-links .cta-button .text {
        font-size: 18px;
    } */

    .left-contact {
        padding: 0 60px;
    }
    .left-contact-get-in::before {
        width: 50vw;
    }
    .right-contact-chat::after {
        width: 50vw;
    }

    .right-contact {
        margin-top: 30px;
    }

    .ft-subscribe h5 br{
        display: none;
    }
    .ft-mail-out {
        margin-top: 20px;
    }

    .ft-subscribe-out {
        margin-top: 20px !important;
    }
    .social-links-footer ul{
        margin-top: 20px !important;
    }
    /* .loc-bahrain-cont, .loc-banglore-cont, .loc-uae-cont, .loc-saudi-cont, .loc-kerala-cont {
        width: 65px;
        height: 60px;
    } */
    .hexagon1, .hexagon2, .hexagon3, .hexagon4, .hexagon5 {
        width: 13px;
        height: 14px;
    }
    .loc-bahrain {
        top: 38%;
    }
    .loc-uae {
        margin-left: -5px;
        margin-top: -5px;
    }
    .loc-saudi {
        margin-left: -5px;
        margin-top: -6px;
    }
    .loc-kerala {
        margin-left: -5px;
        margin-top: -6px;
    }
    .loc-banglore {
        margin-left: -1px;
        margin-top: -5px;
    }

    .loc-bahrain-cont h6, 
    .loc-banglore-cont h6, 
    .loc-uae-cont h6, 
    .loc-saudi-cont h6, 
    .loc-kerala-cont h6{
        font-size: 13px;
        word-break: break-all;
    }

    .loc-bahrain-cont, .loc-banglore-cont, .loc-uae-cont, .loc-saudi-cont, .loc-kerala-cont {
        width: 120px;
    }
    .loc-bahrain-cont h6, .loc-banglore-cont h6, .loc-uae-cont h6, .loc-saudi-cont h6, .loc-kerala-cont h6 {
        padding: 10px 5px;
    }
    .loc-bahrain-cont p, .loc-banglore-cont p, .loc-uae-cont p, .loc-saudi-cont p, .loc-kerala-cont p{
        display: none;
    }

    .loc-bahrain:hover + .loc-bahrain-cont,
    .loc-banglore:hover + .loc-banglore-cont,
    .loc-uae:hover + .loc-uae-cont,
    .loc-saudi:hover + .loc-saudi-cont,
    .loc-kerala:hover + .loc-kerala-cont{
        width: auto;
        height: auto;
        padding: 0px;
        margin-left: 0px;
        border-radius: 8px;
        text-align: initial;
        background: transparent;
    }
    .loc-bahrain:hover + .loc-bahrain-cont h6,
    .loc-banglore:hover + .loc-banglore-cont h6,
    .loc-uae:hover + .loc-uae-cont h6,
    .loc-saudi:hover + .loc-saudi-cont h6,
    .loc-kerala:hover + .loc-kerala-cont h6 {
        font-size: 16px;
        padding: 10px 30px;
        background: linear-gradient(to right, #00A4E4, #A3C644);
    }

    /* loaction details mobile */
    .location-mobile-map-out .loc-mobile-out {
        margin-bottom: 20px;
    }
    .location-mobile-map-out .loc-mobile{
        background: linear-gradient(270deg, #9DCB3B, #6ABC7E, #26B2A6, #00ADBE, #00ABC7);
        border-radius: 10px;
        padding: 30px;
        height: 100%;
    }
    .location-mobile-map-out .loc-mobile h6{
        font-size: 20px;
        color: white;
        margin-bottom: 0;
    }
    .location-mobile-map-out .loc-mobile p{
        font-size: 14px;
        color: white;
        margin: 0;
    }

    .loc-uae-cont {
        left: 43%;
    }
    .loc-bahrain-cont {
        left: 38%;
        top: 23%;
    }
    .loc-saudi-cont {
        left: 30%;
    }

    .location-mobile-map-out { 
        display: block;
        padding-bottom: 50px;
    }


    .offcanvas-body {
        width: 100%;
    }

    /* services */
    .service_icon_item {
        padding: 20px 25px;
    }
    .service_icon_item h3 {
        font-size: 25px;
    }
    .service_footer_item {
        padding: 60px;
    }
    .service_footer_item_cont h2 {
        font-size: 35px;
        line-height: 40px;
    }
    /* .wheel__card {
        max-width: 300px;
    } */


    .left-srvdtls-shape1{
        top: 32%;
        left: -65%;
    }
    .left-srvdtls-shape2 {
        top: 32%;
        right: -65%;
    }
    .right-service-dtls-third-cont {
        padding-right: 0px;
    }
    .service-dtls-third-img {
        padding-right: 0;
    }
    .service_dtls_footer_item {
        padding: 80px 50px;
    }

    .right-hm-software-out {
        order: -1;
        margin-bottom: 15px !important;
    }

    .right-hm-software-out .items-inner-icons {
        display: none;
    }

    
    .icon-container {
        display: flex;
        /* justify-content: center; */
        flex-wrap: wrap;
        height: auto;
    }
    .icon-container .icon {
        height: 75px;
        position: initial;
        margin: 0 10px 10px;
        width: 75px;
        object-fit: contain;
    }
    .right-hm-software-bg {
        display: none;
    }
    .left-home-software-out{
        display: none;
    }

    .video-background {
        max-width: 300px;
    }
    .scroll-input {
        width: 60%;
    }
    .serv-heading h6 {
        font-size: 18px;
    }
    .serv-heading h3 {
        font-size: 50px;
    }


    .tech-left-cont h2 {
        font-size: 40px;
        line-height: 50px;
    }
    .tech-owl1 .owl-carousel .item, .tech-owl2 .owl-carousel .item {
        width: 150px;
        height: 130px;
        padding: 15px;
    }

    /* project video */
    .video-container {
        height: 50vh;
    }
    .proj-video-cont-dtls h2 {
        font-size: 50px;
        line-height: 55px;
    }

    /* tech page */
    .tech-page-page {
        margin-bottom: 0px;
    }
    .tech_page_frontend {
        margin-top: 25px;
    }
    .tech_page_frontend .item {
        height: 230px;
    }
    .tech_page_frontend .item img{
        width: 100px;
        max-width: 100px;
    }
    .tech-page-page3 {
        padding-bottom: 100px;
    }

    /* blog */
    .blog-listing-items {
        margin-top: 50px;
    }
    .blog-listing-search h3 {
        font-size: 35px;
        line-height: 45px;
    }
    .blog-listing-items-cont h3 {
        font-size: 25px;
        line-height: 30px;
    }

}

@media screen and (max-width: 800px) {
    /* home banner */
    .banner_center_img {
        top: 72%;
    }
    .banner_video {
        height: 50vh;
    }
    .banner_text p {
        font-size: 16px;
    }
    .banner_circle_content {
        top: 40%;
    }
    .banner-rotate-text3 {
        top: 16%;
        right: 20%;
    }
    .banner-rotate-text2 {
        right: 55px;
        bottom: 17%;
    }
    .banner-rotate-text1 {
        bottom: 6%;
    }
    
    .wheel__card {
        max-width: 300px;
    }
}

@media screen and (max-width: 768px) {
    /* .nav-dropdown-items-out { 
        padding: 0 20px;
    } */
    .ham-menu-container {
        padding-top: 15%;
    }
    #nav-main .menu-link-outr-first a {
        font-size: 22px;
        line-height: 40px;
    }
    .ham-menu-container .dropdown .ham-menu-links .menu_link {
        font-size: 18px !important;
        line-height: 20px !important;
        margin-top: 5px;
    }
    .ham-menu-links .cta-button .text {
        font-size: 18px;
    }
    .cta-button .btn::before {
        width: 35px;
        height: 35px;
        right: 8px;
    }
    .ham-menu-links .cta-button .btn {
        font-size: 18px;
        line-height: 23px !important;
        padding: 8px 13px !important;
    }
    .cta-button .btn .text {
        margin-right: 15px;
    }

    .abt-f1 h2 {
        font-size: 20vw;
    }
    .right-abt-f1 .content p {
        font-size: 20px;
        line-height: 25px;
        width: 80%;
        margin: 0 auto;
    }
    .video-element {
        max-height: 450px;
    }

    .counter_wrapper{
        flex-wrap: wrap;
        border-bottom: 0;
        padding: 0;
    }
    .counter_item {
        width: 50%;
        border-bottom: 1px solid #abcd;
    }


    .circuit-line {
        display: none;
    }
    .veuz-about-banner-cont h2 {
        font-size: 50px;
    }
    .veuz-about-banner-cont p {
        font-size: 16px;
        width: 100%;
        text-align: center;
    }

    .footer-link-sec{
        margin-top: 30px !important;
    }

    /* common */
    
    /* END common */

    .counter-outr {
        padding: 60px 0 0;
    }

    /* about */
    .about-veuz {
        height: auto !important;
    }
    .about_banner_veuz {
        height: 35vh;
    }
    .about-veuz-content h2 {
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 15px;
    }
    .about-veuz-content p {
        font-size: 35px;
        line-height: 45px;
    }
    .veuz-about-tech-img {
        width: 65%;
        margin: 20px auto 0 auto;
    }
    .visio-content {
        padding: 30px 0px;
    }
    .veuz_about_counter .text-info1 {
        top: 20%;
    }
    .veuz_about_counter {
        height: 100vh;
    }
    .about_counter_item h2 {
        font-size: 50px;
        line-height: 50px;
    }
    .about_counter_item span {
        font-size: 50px;
    }
    .veuz-about-tech-content {
        padding-right: initial;
    }
    .last-about-veuz p {
        padding: 50px 0px;
    }

    /* careers */
    .left-career-heading h2 {
        font-size: 35px;
        line-height: 45px;
    }

    /* services */
    .veuz-common-banner-cont p {
        width: 100%;
    }
    .main-services {
        margin-top: 50px;
    }
    .service_icon_item1,
    .service_icon_item2,
    .service_icon_item3,
    .service_icon_item4,
    .service_icon_item5,
    .service_icon_item6,
    .service_icon_item7 {
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 20px;
    }
    .main-service-center {
        width: 70%;
    }

    /* service details */
    .service-dtls-single-banner {
        margin-top: 20px;
    }
    .left-service-dtls-heading h2,
    .service-dtls-first-heading h2,
    .service-dtls-second-heading h2,
    .service-dtls-tech-heading h2,
    .service-dtls-third-heading h2 {
        line-height: 35px;
        font-size: 30px;
    }
    .right-service-dtls-third-cont {
        height: auto;
    }
    .right-service-dtls-third-cont .accordion-item h2 button {
        font-size: 25px;
    }
    .right-service-dtls-third {
        margin-top: 25px !important;
    }
    .service-dtls-tech-item-out h5 {
        font-size: 25px;
        line-height: 40px;
        margin-top: 25px !important;
    }
    .service_dtls_footer_item_cont h2 {
        font-size: 30px;
        line-height: 35px;
    }
    .service-dtls-third-img {
        height: 300px;
    }
    .right-service-dtls-third-cont {
        padding: 15px;
    }
    .service-dtls-four-top h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .wheel__card {
        max-width: 300px;
    }

    .cta-button .btn {
        padding: 12px 13px !important;
    }

    /* blog */
    .left-blog {
        width: 100% !important;
        order: 1;
    }
    .centre-blog {
        width: 100% !important;
        order: 0;
    }
    .blog-listing-search {
        text-align: center;
    }
    .centre-blog {
        border: 0;
    }
    .blog-listing-items-out {
        padding: 0;
    }
    .ft-blog-listing-items {
        margin-bottom: 50px;
    }
    .single-related-article h6 {
        margin: 15px 0;
    }

    /* blog details */
    .blog-form h2 {
        font-size: 25px;
    }

    /* portfolio */
    .mfp-gallery .mfp-content {
        max-width: 50% !important;
    }

}

@media screen and (max-width: 700px) {
    /* .icon {
        height: 75px;
    } */
    .banner_center_img {
        top: 66%;
    }
    .banner-rotate-text2 {
        right: 55px;
    }
    /* common */
    #top-btn {
        width: 30px;
        height: 30px;
        right: 25px;
    }
    .timeline {
      margin: 50px auto;
    }
    .timeline::after {
      left: 31px;
    }
    .timeline_cont {
      width: 100%;
      padding-left: 80px;
      padding-right: 25px;
    }
    .text-box {
      font-size: 13px;
    }
    .right-timeline {
      left: 0;
    }
    .left-timeline img {
      left: 0px;
    }
    .right-timeline img {
      left: 3px;
    }
    .timeline_cont .timeline_shape {
        right: 0;
        left: -11%;
    }
    .timeline::after {
        left: 10px;
    }
    .left-timeline {
        width: 90%;
        padding: 10px 0px 10px 0 !important;
        margin: 0 0 0 auto;
    }
    .right-timeline {
        padding: 10px 0px 10px 0 !important;
        width: 90%;
        margin: 0 0 0 auto;
    }
    .timeline_cont .text-box {
        padding: 30px;
    }
    .career_openings_items {
        margin: auto;
    }

    .wheel__card {
        max-width: 280px;
    }

    /* location map */
    .location-map-img{
        height: 50vh;
    }
    .location-map-img img{
        height: 100%;
        object-fit: cover;
    }
    .hexagon1, .hexagon2, .hexagon3, .hexagon4, .hexagon5 {
        width: 16px;
        height: 18px;
    }
    .loc-bahrain,
    .loc-uae,
    .loc-saudi,
    .loc-banglore,
    .loc-kerala {
        display: none;
    }
}


@media screen and (max-width: 600px) {
    /* home banner */
    .banner_collumn {
        height: 75vh;
    }
    .banner_video {
        height: 35vh;
        width: 100%;
    }
    .banner_circle_content {
        top: 35%;
    }
    .banner-rotate-text2 {
        right: 17px; 
        bottom: 13%;
    }
    .banner-rotate-text1 {
        bottom: 0%;
        left: 35px;
    }
    .banner-rotate-text3 {
        top: 10%;
        right: 14%;
    }
    .banner_text {
        top: 30%;
        width: 90%;
        margin-top: 50px;
    }
    .banner_text_in_cont span {
        font-size: 35px;
        line-height: 40px;
    }
    .banner_text p {
        font-size: 18px;
        margin-top: -8px;
    }
    .banner_center_img {
        top: 57%;
        /* width: 40%; */
    }
    .banner-rotate-text-out h4 {
        font-size: 16px;
    }

    .menu-link-outr-first {
        min-width: 35%;
    }
    .nav-dropdown-items-out .nav-dropdown-items {
        width: 100%;
    }
    .ham-menu-container {
        padding-top: 20%;
    }
    #nav-main .menu-link-outr-first a {
        font-size: 18px;
    }
    .menu-link-outr-first {
        min-width: 40%;
    }
    .ham-menu-container .dropdown .ham-menu-links .menu_link {
        font-size: 16px !important;
    }
    /* common */
    .common_space {
        padding-top: 40px !important;
    }
    .get-heading {
        font-size: 25px;
    }
    .modal-main-input{
        padding: 30px;
    }
    .modal-main-input .input-group {
        margin-top: 12px;
    }
    .offcanvas-body {
        height: auto;
    }
    .modal-main-input .input-field {
        padding: 12px;
    }
    .logo-svg svg {
        width: 70px;
    }
    .menu-bars .ham {
        width: 50px;
    }
    .cta-button .btn {
        font-size: 16px;
    }
    .btn-header a {
        font-size: 12px;
    }
    .style_button3__wvXhd {
        padding: 7px 10px !important;
    }
    .common_banner_veuz {
        height: 30vh;
    }

    .right-abt-f1 .content p {
        font-size: 14px;
        line-height: 25px;
        text-align: center;
    }

    .icon-container .icon {
        height: 60px;
        margin: 0 7px 7px;
        width: 60px;
    }

    .left-hm-software {
        text-align: center;
    }

    .left-hm-software h2 {
        font-size: 25px;
        line-height: 30px;
        margin-top: 10px;
        text-align: center;
    }
    .left-hm-software p {
        font-size: 14px;
        line-height: 25px;
        margin: 10px 0 20px;
        text-align: center;
    }


    .counter_item h1 {
        font-size: 35px;
    }
    .counter_item span {
        font-size: 35px;
    }
    .counter-cont p {
        font-size: 16px;
        line-height: 20px;
    }

    /* about */
    .hm-software {
        padding: 40px 0;
    }
    .veuz-about-banner-cont h2 {
        font-size: 40px;
    }
    .veuz-about-banner-cont {
        width: 95%;
    }
    .veuz-gradient-bg {
        top: -115%;
    }
    .about_banner_veuz {
        height: 30vh;
    }
    .about-veuz-content h2 {
        font-size: 30px;
    }
    .about-veuz-content p {
        font-size: 30px;
        line-height: 35px;
    }
    .veuz-about-tech-content h2 {
        font-size: 30px;
        line-height: 35px;
    }
    .veuz-about-heading h3 {
        font-size: 30px;
        line-height: 35px;
    }
    .veuz-about-heading p {
        font-size: 16px;
        line-height: 25px;
    }
    .last-about-veuz p {
        font-size: 30px;
        line-height: 35px;
    }
    .about-banner-video {
        width: 65vw;
        height: 60vw;
    }
    .about-banner-video {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 77vw;
        height: 50vw;
        right: auto;
        text-align: center;
    }

    .about-zoom-sec .abt-f1-cont-out {
        margin-top: -60px;
    }
    .right-abt-f1 .content p {
        width: 100%;
    }
    /* END about */

    .anim-shadow {
        padding: 80px 0 80px;
    }

    .right-hc-section {
        text-align: center;
    }

    .right-hc-section h2 {
        font-size: 25px;
        line-height: 35px;
    }
    .right-hc-section p {
        font-size: 14px;
        line-height: 25px;
        margin: 10px 0 20px;
        text-align: center;
    }

    .wheel__card {
        padding: 25px 30px;
        max-width: 350px;
    }

    .tech-left-cont {
        padding: 0px 0 50px;
        text-align: center;
    }

    .serv-heading h6 {
        font-size: 16px;
    }
    .serv-heading h3 {
        font-size: 30px;
        line-height: 30px;
    }

    .tech-left-cont h2 {
        font-size: 25px;
        line-height: 30px;
    }
    .tech-left-cont p {
        font-size: 14px;
        line-height: 25px;
    }

    .video-background {
        max-width: 230px;
    }
    .scroll-input {
        width: 80%;
    }
    .scroll-input {
        margin: 5px auto 0;
    }
    .serv-carousel .owl-stage-outer {
        padding: 100px 0 0px;
    }

    /* chrome rage round */
    #customSlider::-moz-range-thumb {
        background: #fff;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 8px solid #dbdbdb;
        cursor: pointer;
    }
    .scroll-input input[type="range"] {
        height: 5px;
    }
    /* END chrome rage round */
    .service-roundicon {
        bottom: 175px;
        height: 300px;
    }
    .service-roundicon svg{
        width: 300px;
    }

    .tech_page_frontend .item {
        height: 150px;
    }

    .tech-owl1 .owl-carousel .item, .tech-owl2 .owl-carousel .item {
        width: 100%;
    }
    /* technology */

    /* home video */
    .proj-video-cont-dtls {
        width: 90%;
    }
    .proj-video-cont-dtls h2 {
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 25px;
    }

    .clients {
        padding-top: 0px !important;
    }

    .tech-owl1 .owl-carousel .item, .tech-owl2 .owl-carousel .item{
        height: 80px;
    }
    


    /* contact page */
    .contact-address {
        padding-top: 30px !important;
    }

    .contact-form{
        margin-top: 20px;
    }

    .contact-page {
        padding-top: 0 !important;
    }

    .right-contact {
        padding: 30px 20px;
    }

    .left-contact {
        padding: 0;
    }

    .veuz-common-banner-cont h2 {
        font-size: 30px;
        line-height: 35px;
    }

    .visio-content h2 {
        font-size: 30px;
        line-height: 35px;
    }

    .left-contact-get-in {
        font-size: 18px;
        text-align: center;
        padding: 8px 20px;
        width: 165px;
    }
    .left-contact-get-in::before {
        left: 161px;
    }
    .left-contact-phone h4 {
        font-size: 18px;
        line-height: 35px;
    }
    .left-contact-mail h4 {
        font-size: 18px;
        line-height: 30px;
    }
    .left-contact-connect {
        font-size: 30px;
        line-height: 70px;
    }

    .right-contact-chat {
        font-size: 18px;
        text-align: center;
        padding: 8px 20px;
        width: 165px;
    }
    .right-contact-chat::after {
        left: 161px;
    }

    .contact-form h2 {
        font-size: 30px;
        line-height: 70px;
    }
    .contact-form .form-group label {
        font-size: 16px;
    }
    .contact-form .form-control {
        font-size: 16px;
    }

    .contact-address-left-items h3 {
        font-size: 25px;
        line-height: 30px;
    }
    .cont-number h6 {
        font-size: 16px;
        line-height: 30px;
    }
    .cont-address h5 {
        font-size: 18px;
        line-height: 25px;
    }
    .cont-address p {
        font-size: 16px;
        line-height: 25px;
    }
    .right-footer-content {
        margin-top: 20px;
    }

    /* services */
    .left-service-heading h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .left-service-heading h2 br {
        display: none;
    }
    .service_listing_all {
        margin-top: 30px !important;
    }
    .service_listing_img {
        height: 200px;
    }
    .left_service_listing_content .cta-button .move-btn {
        width: 60px;
        height: 60px;
    }
    .service_footer_item {
        padding: 60px 20px;
    }
    .service_footer_item_cont h2 {
        font-size: 25px;
        line-height: 30px;
    }
    .service_footer_item_cont p {
        font-size: 16px;
        line-height: 25px;
        margin: 15px auto;
    }
    .service_icon_item h3 {
        font-size: 20px;
    }
    .service_icon_item1, .service_icon_item2, .service_icon_item3, .service_icon_item4, .service_icon_item5, .service_icon_item6, .service_icon_item7 {
        margin-bottom: 10px;
    }
    .service_icon_item {
        padding: 12px 25px;
    }
    .service-page-in {
        font-size: 16px;
        padding: 6px 30px;
    }

    /* service details page */
    .left-srvdtls-shape-out {
        display: none;
    }
    .service-dtls-page {
        padding-top: 0 !important;
        margin-top: 0;
    }
    .service_dtls_footer_bg {
        height: 70vh;
    }
    .service_dtls_footer_item {
        padding: 40px 30px;
    }
    .service-dtls-page-in {
        font-size: 18px;
        padding: 6px 20px;
        width: 100%;
        text-align: center;
    }
    /* .service-dtls-first-dtls h4 {
        font-size: 20px;
    } */
    .service-dtls-second-dtls-item {
        display: block;
    }
    .right-service-dtls-second-dtls {
        width: 100%;
        margin-top: 20px;
    }
    .left-service-dtls-second-dtls {
        width: 70px;
    }

    /* blog */
    .single-related-article-bg {
        height: 100px;
    }

    /* portfolio */
    .mfp-gallery .mfp-content {
        max-width: 70% !important;
    }

    /* career */
    .career-page_openings {
        padding-bottom: 50px;
    }
    .modal-main-input .cta-button {
        margin-top: 20px !important;
    }


    .loc-bahrain-cont {
        left: 30%;
        top: 27%;
    }
    .loc-saudi-cont {
        left: 22%;
    }
    .loc-uae-cont {
        left: 38%;
    }

    .tech-right-cont {
        padding: 40px 0;
    }
    .tech-owl2 {
        margin-top: 10px;
    }

    /* contact */
    .left-footer-content{
        text-align: center;
    }
    .right-footer-content p {
        font-size: 14px;
        line-height: 25px;
        text-align: center;
    }
    .ft-mail-out h6 {
        text-align: center;
    }
    .footer .page-links ul li a {
        font-size: 14px;
    }
    .footer .page-links ul li {
        line-height: 25px;
    }
    .ft-subscribe h5 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
        text-align: center;
    }
    .subscribe-form .custom-form {
        font-size: 14px !important;
        padding: 13px 20px;
    }
    .subscribe-form .cta-button .move-btn {
        width: 38px;
        height: 38px;
    }
    .social-links-footer ul {
        justify-content: center;
    }

    
}


@media screen and (max-width: 500px) {
    .banner-rotate-text-out h4 {
        font-size: 13px;
    }
    .banner_center_img {
        top: 53%;
        /* width: 37%; */
    }
    .veuz_about_counter {
        height: 75vh;
    }
    .banner_video {
        height: 28vh;
    }

    .about_counter_item h2 {
        font-size: 35px;
        line-height: 35px;
    }
    .about_counter_item span {
        font-size: 35px;
    }
    .veuz_about_counter .text-info1 {
        left: 45%;
    }
    .veuz_about_counter .text-info2 {
        left: 22%;
    }
    .veuz_about_counter .text-info3 {
        right: 20%;
    }

    /* common form */

    .left-hm-software .icon {
        height: 60px;
    }
    

    /* career */
    .left_timeline_head_out {
        display: block;
    }
    .left_timeline_head {
        display: inline-block;
        margin-bottom: 10px;
    }
    .job-card {
        display: block;
    }
    .job-card-icon{
        margin-bottom: 10px;
    }
    .job-info {
        margin-left: auto;
    }
    .career_openings_all {
        margin-top: 30px !important;
    }
    .job-info h3 {
        font-size: 20px;
    }
    .left-career-heading h2 {
        font-size: 30px;
    }

    .wheel__card {
        max-width: 100%;
    }

    .loc-saudi-cont {
        left: 13%;
    }
    .loc-uae-cont {
        left: 35%;
    }
    .loc-bahrain-cont {
        left: 24%;
    }
}


@media screen and (max-width: 480px) {
    .gallery-image img {
        max-height: 300px;
    }
}

@media screen and (max-width: 450px) {
    .banner_video {
        height: 28vh;
    }
}


@media screen and (max-width: 400px) {
    .banner_collumn {
        height: 80vh;
    }
    .banner_circle_content{
        display: none;
    }
    .banner_center_img {
        top: 55%;
        /* width: 60%; */
    }
    .ham-menu-container {
        padding-top: 25%;
    }
    /* about */
    .about-zoom-sec .abt-f1-cont-out {
        margin-top: -25px;
    }
    .about_counter_item h2 {
        font-size: 25px;
        line-height: 25px;
    }
    .about_counter_item span {
        font-size: 25px;
    }
    .veuz_about_counter .text-info1 {
        top: 24%;
    }
    .veuz_about_counter .text-info3 {
        top: 57%;
    }
    .veuz_about_counter .text-info2 {
        top: 48%;
        left: 20%;
    }
    .about-veuz-content p {
        font-size: 25px;
        line-height: 33px;
    }
    .last-about-veuz p {
        font-size: 25px;
        line-height: 35px;
    }

    /* END about */

    .service_listing_cont {
        display: grid;
    }
    .left_service_listing_content {
        order: 1;
        display: flex;
        justify-content: center;
    }
    .right_service_listing_content {
        order: 0;
        text-align: center;
    }

    /* blog */
    .related-article {
        display: block;
        margin-bottom: 20px;
    }
    .right-related-article button {
        font-size: 14px;
        line-height: 14px;
        margin-top: 15px;
    }
    .related-blogs {
        width: 100%;
        padding: 0;
    }
    .single-related-article-bg {
        height: 150px;
    }

    

}



