@media screen and (max-width: 1700px) {
    .banner-rotate-text2 {
        bottom: 28%;
        right: 175px;
    }
    .banner-rotate-text3 {
        top: 13%;
    }
    .banner-rotate-text1 {
        bottom: 15%;
        left: 100px;
    }

    .hexagon1,
    .hexagon2,
    .hexagon3,
    .hexagon4,
    .hexagon5 {
        width: 22px;
        height: 25px;
    }

    .loc-uae-cont {
        width: 150px;
    }

    /* service details */
    .left-srvdtls-shape1,
    .left-srvdtls-shape2 {
        top: 30%;
    }
}

@media screen and (max-width: 1600px) {
    .banner_circle_content svg {
        margin-top: 5%;
    }
    .icon-4 {
        top: 425px;
        right: 100px;
    }
    .icon {
        height: 100px;
    }
}

@media screen and (max-width: 1500px) {
    .icon-6 {
        right: 60px;
    }
    .hc-flip-video{
        width: 95%;
    }

    .circuit-bottom-left {
        top: 34%;
        left: 32%;
    }
    .circuit-top-left {
        top: -2%;
        left: 4%;
    }
    .circuit-top-right {
        right: 5%;
    }
    .circuit-bottom-right {
        right: 2%;
    }

    .veuz-common-banner-cont h2 {
        line-height: 90px;
    }

    /* service details */
    .left-service-dtls-heading h2,
    .service-dtls-first-heading h2,
    .service-dtls-second-heading h2,
    .service-dtls-third-heading h2,
    .service-dtls-tech-heading h2 {
        line-height: 60px;
    }
    .service-dtls-third-heading h2 br{
        display: none;
    }
}

@media screen and (max-width: 1400px) {
    .banner_circle_content svg {
        margin-top: 10%;
    }
    .banner_text {
        width: 60%;
    }
    .banner-rotate-text3 {
        top: 20%;
    }
    .banner-rotate-text1 {
        bottom: 13%;
        left: 50px;
    }
    .banner-rotate-text2 {
        bottom: 23%;
    }

    .banner_text_in_cont span {
        font-size: 60px;
        line-height: 60px;
        top: -140px;
    }
    .banner_text p {
        font-size: 20px;
        padding: 0 50px;
    }

    #nav-main a {
        font-size: 40px;
        line-height: 70px;
    }

    .ham-menu-container .dropdown .ham-menu-links .menu_link {
        font-size: 30px !important;
        line-height: 30px !important;
    }

    .ham-menu-links .cta-button .text {
        font-size: 25px;
    }

    .left-hm-software h2 {
        font-size: 40px;
        line-height: 45px;
    }
    .icon-1 {
        top: 0px;
    }
    .inner-icon06 .icon-circle06 {
        top: -70px;
    }
    .icon-line06 {
        margin-top: -64px;
    }
    .icon-6 {
        right: 10px;
    }
    .icon-4 {
        right: 20px;
    }
    .icon-5 {
        top: -9px;
        right: 135px;
    }
    .icon-7 {
        left: 260px;
    }

    .wheel_content h6{
        font-size: 25px;
    }

    .tech-left-cont {
        padding: 70px 35px;
    }
    .tech-left-cont h2 {
        font-size: 50px;
        line-height: 60px;
    }
    .tech-right-cont {
        padding: 50px 0;
    }
    .tech-owl1 .owl-carousel .item, .tech-owl2 .owl-carousel .item {
        width: 200px;
        height: 200px;
        padding: 35px;
    }

    .proj-video-cont-dtls h2 {
        font-size: 75px;
        line-height: 75px;
    }

    /* about */
    .veuz-about-banner-cont h2 {
        font-size: 8rem;
    }
    .circuit-bottom-left {
        top: 31%;
        left: 32%;
    }

    .veuz-about-tech-content h2 {
        font-size: 60px;
        line-height: 65px;
        margin-bottom: 20px;
    }
    .veuz-about-tech-content p {
        font-size: 16px;
        line-height: 30px;
    }

    /* services */
    .service_footer_item_cont h2 br {
        display: none;
    }

    /* service details */
    .left-srvdtls-shape1{
        left: -60%;
    }
    .left-srvdtls-shape2 {
        right: -60%;
    }
    .service_dtls_footer_item_cont h2 br{
        display: none;
    }

    /* blog */
    .blog-listing-items-out {
        padding: 0 20px 20px 20px;
    }
    .blog-category {
        padding-right: 0;
    }
    .right-blog-in {
        padding-left: 0;
    }
    .ft-blog-listing-items-cont h3 {
        font-size: 25px;
        line-height: 30px;
    }

}

@media screen and (max-width: 1300px) {
    .banner-rotate-text-out h4{
        font-size: 20px;
    }
    .banner-rotate-text2 {
        right: 140px;
    }
    #nav-main a {
        font-size: 36px;
        line-height: 75px;
    }
    .ham-menu-container .dropdown .ham-menu-links .menu_link {
        font-size: 30px !important;
        line-height: 35px !important;
        margin-top: 15px;
    }

    .clients h2 {
        font-size: 30px;
    }
    .clients .owl-carousel .item{
        width: 55%;
    }
    .abt-f1 h2 {
        font-size: 15rem;
    }
    .left-hm-software h2 {
        font-size: 40px;
        line-height: 45px;
    }
    .icon-2 {
        top: 250px;
        left: 300px;
    }
    .icon-5 {
        right: 100px;
    }
    .icon-7 {
        left: 230px;
    }

    .copy-right-sec .policy h5 a {
        font-size: 12px;
    }
    .ft-mail-out {
        display: block;
    }
    .hexagon1, .hexagon2, .hexagon3, .hexagon4, .hexagon5 {
        width: 17px;
        height: 20px;
    }
    .loc-banglore {
        margin-left: 0px;
        margin-top: -2px;
    }
    .loc-kerala {
        margin-left: -7px;
        margin-top: -4px;
    }
    .loc-uae {
        margin-left: -8px;
        margin-top: -3px;
    }
    .loc-bahrain {
        margin-left: -1px;
    }
    .loc-saudi {
        margin-left: -8px;
        margin-top: -5px;
    }
    .loc-bahrain-cont,
    .loc-banglore-cont,
    .loc-uae-cont,
    .loc-saudi-cont,
    .loc-kerala-cont {
        width: 120px;
        height: 80px;
    }
    .loc-bahrain-cont h6,
    .loc-banglore-cont h6,
    .loc-uae-cont h6,
    .loc-saudi-cont h6,
    .loc-kerala-cont h6 {
        padding: 15px 10px;
    }
    .loc-bahrain:hover + .loc-bahrain-cont,
    .loc-banglore:hover + .loc-banglore-cont,
    .loc-uae:hover + .loc-uae-cont,
    .loc-saudi:hover + .loc-saudi-cont,
    .loc-kerala:hover + .loc-kerala-cont {
        width: 250px;
        padding: 15px;
    }

    /* about */
    .circuit-bottom-left {
        left: 30%;
    }
    .veuz_about_counter .text-info2 {
        left: 32%;
    }
    .vision-video {
        height: 100%;
    }

    /* contact page start */
    .common_banner_veuz {
        height: 35vh;
    }
    .left-contact-get-in::before {
        width: 150px;
    }

    .contact-address-left-items h3 {
        font-size: 30px;
    }
    .cont-number h6 {
        font-size: 16px;
    }
    .cont-address h5 {
        font-size: 20px;
        line-height: 25px;
    }
    .cont-address p {
        font-size: 18px;
    }

    /* career */
    .timeline {
        max-width: 100%;
    }
    .left-timeline {
        padding: 10px 30px 10px 0;
    }
    .right-timeline {
        padding: 10px 0 10px 30px;
    }
    .modal-main-input {
        width: 100%;
        height: 100%;
    }

    /* service */
    .service-gradient-bg {
        top: -125%;
    }
    .veuz-common-banner-cont p {
        width: 70%;
    }
    .service_icon_item {
        padding: 30px 50px;
    }
    .service_icon_item h3 {
        font-size: 30px;
    }
    .service_footer_item_cont_out {
        flex: 0 0 auto !important;
        width: 100% !important;
    }

    /* service details */
    .right-service-dtls-third-cont .accordion-item h2 button {
        font-size: 30px;
    }
    .right-service-dtls-third-cont .accordion .accordion-item {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .right-service-dtls-third-cont .accordion-item h2 button {
        margin-bottom: 0;
    }
    .right-service-dtls-third-cont {
        height: 500px;
    }
    .service-dtls-four-top h2 {
        font-size: 50px;
        line-height: 60px;
    }
    .blog_details_banner {
        height: 25vh;
    }
    
}

@media screen and (max-width: 1200px) {
    .banner-rotate-text3 {
        top: 20%;
    }
    .banner-rotate-text2 {
        right: 120px;
        bottom: 22%;
    }
    .banner_text_in_cont span {
        font-size: 50px;
        line-height: 50px;
        top: -100px;
    }
    .banner_text p {
        font-size: 18px;
        line-height: 23px;
        margin-top: 10px;
    }
    .banner_circle_content svg {
        margin-top: 10%;
    }
    .icon-6 {
        right: -25px;
    }
    .icon-line04 {
        left: 150px;
    }
    .inner-icon04 .icon-circle04 {
        left: 515px;
    }
    .icon-4 {
        right: 0;
    }
    .inner-icon07 .icon-circle07 {
        left: 540px;
    }
    .icon-line07 {
        left: 175px;
    }
    .icon-7 {
        left: 190px;
    }

    /* about */
    .common_space {
        padding-top: 60px !important;
    }
    .veuz-common-banner-cont h2 {
        line-height: 75px;
    }
    .about-veuz-content {
        max-width: 100%;
    }
    .about-veuz-content h2 {
        font-size: 60px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .about-veuz-content p {
        font-size: 50px;
        line-height: 60px;
    }
    .veuz-about-tech-content h2 {
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 15px;
    }
    .about_counter_item h2 {
        font-size: 70px;
    }
    .about_counter_item span{
        font-size: 65px;
    }
    .about_counter_item p {
        font-size: 15px;
        font-weight: 300;
        line-height: 23px;
    }
    .veuz_about_counter .text-info3 {
        right: 30%;
    }
    .veuz-about-heading {
        width: 90%;
    }
    .veuz-about-heading h3 {
        font-size: 50px;
    }
    .visio-content {
        padding: 0 35px;
    }
    .visio-content h2 {
        font-size: 35px;
        line-height: 40px;
    }
    .visio-content p {
        font-size: 16px;
        line-height: 25px;
    }
    .last-about-veuz p {
        font-size: 50px;
        line-height: 60px;
    }

    /* career */
    .job-card {
        padding: 40px 25px;
    }
    .job-info {
        margin-left: 20px;
    }
    .job-card-icon img {
        width: 75px;
        height: 70px;
        border-radius: 20px;
        background-color: #000;
        padding: 15px;
    }
    .job-info p {
        font-size: 15px;
    }
    .job-info h3 {
        font-size: 25px;
        font-weight: 600;
        line-height: 30px;
    }

    /* services */
    .service_listing_img {
        height: 300px;
        overflow: hidden;
    }
    .right_service_listing_content h3 {
        font-size: 25px;
        line-height: 30px;
    }
    .left_service_listing_content .cta-button .move-btn {
        width: 80px;
        height: 80px;
    }

    /* service details */
    .left-srvdtls-shape1{
        left: -63%;
    }
    .left-srvdtls-shape2 {
        right: -63%;
    }
    .left-service-dtls-heading h2,
    .service-dtls-first-heading h2,
    .service-dtls-second-heading h2,
    .service-dtls-third-heading h2,
    .service-dtls-tech-heading h2 {
        line-height: 50px;
    }
    .right-service-dtls-second-dtls h4 {
        line-height: 30px;
    }
    .service-dtls-tech-item-cont {
        height: 130px;
        padding: 25px;
    }

    /* blog */
    .left-blog {
        width: 30% !important;
    }
    .centre-blog {
        width: 70% !important;
    }
    .right-blog {
        width: 100% !important;
        margin-top: 50px !important;
    }
    .right-blog-in {
        display: block;
    }
    .related-blogs {
        width: 49%;
        display: inline-block;
        padding: 10px;
    }
    .main-blog-in {
        padding-bottom: 30px;
    }
 
}

@media screen and (max-width: 1100px) {
    .veuz-about-banner-cont h2 {
        font-size: 6rem;
    }
    .circuit-bottom-left {
        top: 29.5%;
    }
    .veuz-about-banner-cont p {
        width: 85%;
    }
    .circuit-bottom-left {
        left: 22%;
    }
    .veuz-about-tech-content h2 {
        font-size: 50px;
        line-height: 55px;
        margin-bottom: 10px;
    }
    .veuz_about_counter .text-info3 {
        right: 27%;
    }

    /* services */
    .service_icon_item {
        padding: 25px 25px;
    }
    

}

@media screen and (max-width: 1000px) {
    .veuz_about_counter .text-info2 {
        left: 26%;
    }
    .veuz_about_counter .text-info3 {
        right: 23%;
    }

}

@media screen and (max-width: 992px) {
    /* common */
    .logo-svg svg{
        width: 100px;
    }
    .menu-bars .ham {
        width: 60px;
    }
    .btn-header a {
        font-size: 13px;
    }
    .style_button3__wvXhd {
        padding: 10px 15px !important;
    }
    .left-footer-content img {
        width: 100px;
    }
    .ham-menu-container .dropdown .ham-menu-links {
        padding-left: 20px;
    }
    .ham-menu-container .dropdown .ham-menu-links .menu_link {
        font-size: 20px !important;
        line-height: 25px !important;
        margin-top: 10px;
    }
    .veuz-common-banner-cont h2 {
        line-height: 55px;
    }

    /* navbar */
    #nav-main a {
        font-size: 25px;
        line-height: 50px;
    }
    .ham-menu-links {
        padding-right: 8px;
    }
    .ham-menu-container .arrow {
        font-size: 30px;
    }
    .ham-menu-links .cta-button .text {
        font-size: 18px;
    }

    .left-contact {
        padding: 0 60px;
    }
    .left-contact-get-in::before {
        width: 50vw;
    }
    .right-contact-chat::after {
        width: 50vw;
    }

    .right-contact {
        margin-top: 30px;
    }

    .ft-subscribe h5 br{
        display: none;
    }
    .ft-mail-out {
        margin-top: 20px;
    }

    .ft-subscribe-out {
        margin-top: 20px !important;
    }
    .social-links-footer ul{
        margin-top: 20px !important;
    }
    .loc-bahrain-cont, .loc-banglore-cont, .loc-uae-cont, .loc-saudi-cont, .loc-kerala-cont {
        width: 65px;
        height: 60px;
    }
    .hexagon1, .hexagon2, .hexagon3, .hexagon4, .hexagon5 {
        width: 12px;
        height: 14px;
    }
    .loc-bahrain {
        margin-left: -1px;
        margin-top: -4px;
    }
    .loc-saudi {
        margin-left: -6px;
        margin-top: -7px;
    }
    .loc-uae {
        margin-left: -5px;
        margin-top: -6px;
    }
    .loc-kerala {
        margin-left: -5px;
        margin-top: -6px;
    }
    .loc-banglore {
        margin-left: -1px;
        margin-top: -5px;
    }

    .loc-bahrain-cont h6, 
    .loc-banglore-cont h6, 
    .loc-uae-cont h6, 
    .loc-saudi-cont h6, 
    .loc-kerala-cont h6{
        font-size: 12px;
        word-break: break-all;
    }

    .offcanvas-body {
        width: 100%;
    }

    /* services */
    .service_icon_item {
        padding: 20px 25px;
    }
    .service_icon_item h3 {
        font-size: 25px;
    }
    .service_footer_item {
        padding: 60px;
    }
    .service_footer_item_cont h2 {
        font-size: 35px;
        line-height: 40px;
    }

    .left-srvdtls-shape1{
        top: 32%;
        left: -65%;
    }
    .left-srvdtls-shape2 {
        top: 32%;
        right: -65%;
    }
    .right-service-dtls-third-cont {
        padding-right: 0px;
    }
    .service-dtls-third-img {
        padding-right: 0;
    }
    .service_dtls_footer_item {
        padding: 80px 50px;
    }

    /* tech page */
    .tech-page-page {
        margin-bottom: 0px;
    }
    .tech_page_frontend {
        margin-top: 25px;
    }
    .tech_page_frontend .item {
        height: 230px;
    }
    .tech_page_frontend .item img{
        width: 100px;
        max-width: 100px;
    }
    .tech-page-page3 {
        padding-bottom: 100px;
    }

    /* blog */
    .blog-listing-items {
        margin-top: 50px;
    }
    .blog-listing-search h3 {
        font-size: 35px;
        line-height: 45px;
    }
    .blog-listing-items-cont h3 {
        font-size: 25px;
        line-height: 30px;
    }

}

@media screen and (max-width: 768px) {
    .footer-link-sec{
        margin-top: 30px !important;
    }

    /* services */
    .veuz-common-banner-cont p {
        width: 100%;
    }
    .main-services {
        margin-top: 50px;
    }
    .service_icon_item1,
    .service_icon_item2,
    .service_icon_item3,
    .service_icon_item4,
    .service_icon_item5,
    .service_icon_item6,
    .service_icon_item7 {
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 20px;
    }
    .main-service-center {
        width: 70%;
    }

    /* service details */
    .service-dtls-single-banner {
        margin-top: 20px;
    }
    .left-service-dtls-heading h2,
    .service-dtls-first-heading h2,
    .service-dtls-second-heading h2,
    .service-dtls-tech-heading h2,
    .service-dtls-third-heading h2 {
        line-height: 35px;
        font-size: 30px;
    }
    .right-service-dtls-third-cont {
        height: auto;
    }
    .right-service-dtls-third-cont .accordion-item h2 button {
        font-size: 25px;
    }
    .right-service-dtls-third {
        margin-top: 25px !important;
    }
    .service-dtls-tech-item-out h5 {
        font-size: 25px;
        line-height: 40px;
        margin-top: 25px !important;
    }
    .service_dtls_footer_item_cont h2 {
        font-size: 30px;
        line-height: 35px;
    }

    /* blog */
    .left-blog {
        width: 100% !important;
        order: 1;
    }
    .centre-blog {
        width: 100% !important;
        order: 0;
    }
    .blog-listing-search {
        text-align: center;
    }
    .centre-blog {
        border: 0;
    }
    .blog-listing-items-out {
        padding: 0;
    }
    .ft-blog-listing-items {
        margin-bottom: 50px;
    }
    .single-related-article h6 {
        margin: 15px 0;
    }

    /* blog details */
    .blog-form h2 {
        font-size: 25px;
    }

    /* portfolio */
    .mfp-gallery .mfp-content {
        max-width: 50% !important;
    }

}


@media screen and (max-width: 600px) {
    /* common */
    .cta-button .btn {
        font-size: 16px;
    }

    /* contact page */
    .contact-address {
        padding-top: 30px !important;
    }

    .contact-form{
        margin-top: 20px;
    }

    .contact-page {
        padding-top: 0 !important;
    }

    .right-contact {
        padding: 30px 20px;
    }

    .left-contact {
        padding: 0;
    }

    .veuz-common-banner-cont h2 {
        font-size: 35px;
        line-height: 40px;
    }

    .left-contact-get-in {
        font-size: 18px;
        text-align: center;
        padding: 8px 20px;
        width: 165px;
    }
    .left-contact-get-in::before {
        left: 161px;
    }
    .left-contact-phone h4 {
        font-size: 18px;
        line-height: 35px;
    }
    .left-contact-mail h4 {
        font-size: 18px;
        line-height: 30px;
    }
    .left-contact-connect {
        font-size: 30px;
        line-height: 70px;
    }

    .right-contact-chat {
        font-size: 18px;
        text-align: center;
        padding: 8px 20px;
        width: 165px;
    }
    .right-contact-chat::after {
        left: 161px;
    }

    .contact-form h2 {
        font-size: 30px;
        line-height: 70px;
    }
    .contact-form .form-group label {
        font-size: 16px;
    }
    .contact-form .form-control {
        font-size: 16px;
    }

    .contact-address-left-items h3 {
        font-size: 25px;
        line-height: 30px;
    }
    .cont-number h6 {
        font-size: 16px;
        line-height: 30px;
    }
    .cont-address h5 {
        font-size: 18px;
        line-height: 25px;
    }
    .cont-address p {
        font-size: 16px;
        line-height: 25px;
    }
    .right-footer-content {
        margin-top: 20px;
    }

    /* services */
    .left-service-heading h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .service_listing_all {
        margin-top: 30px !important;
    }
    .service_listing_img {
        height: 200px;
    }
    .left_service_listing_content .cta-button .move-btn {
        width: 60px;
        height: 60px;
    }
    .service_footer_item {
        padding: 60px 20px;
    }
    .service_footer_item_cont h2 {
        font-size: 25px;
        line-height: 30px;
    }
    .service_footer_item_cont p {
        font-size: 16px;
        line-height: 25px;
        margin: 15px auto;
    }

    /* service details page */
    .left-srvdtls-shape-out {
        display: none;
    }
    .service-dtls-page {
        padding-top: 0 !important;
        margin-top: 0;
    }
    .service_dtls_footer_bg {
        height: 70vh;
    }
    .service_dtls_footer_item {
        padding: 40px 30px;
    }

    /* blog */
    .single-related-article-bg {
        height: 100px;
    }

    /* portfolio */
    .mfp-gallery .mfp-content {
        max-width: 70% !important;
    }
}


@media screen and (max-width: 480px) {
    .gallery-image img {
        max-height: 300px;
    }
}


@media screen and (max-width: 400px) {
    .service_listing_cont {
        display: grid;
    }
    .left_service_listing_content {
        order: 1;
        display: flex;
        justify-content: center;
    }
    .right_service_listing_content {
        order: 0;
        text-align: center;
    }

    /* blog */
    .related-article {
        display: block;
        margin-bottom: 20px;
    }
    .right-related-article button {
        font-size: 14px;
        line-height: 14px;
        margin-top: 15px;
    }
    .related-blogs {
        width: 100%;
        padding: 0;
    }
    .single-related-article-bg {
        height: 150px;
    }

}



